<template>
    <div class="">
        <sync-alert v-if="show_sync_message" ></sync-alert>
        <div v-else >
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="main">
                    <div class="my_item align-items-start mb-4" v-show="is_edit" v-if="type == 1">
                        <div class="div_head_1">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <button @click="destroy" type="button" class="Polaris-Button Polaris-Button--destructive Polaris-Button--sizeSlim"><span
                                    class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Delete Ruleset</span></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="my_item align-items-start mb-4">
                        <div class="div_head_2">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                v-bind:class="[ form.is_enable?primaryClass:'' ]"
                                                @click="func_is_enable(true)"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Enable</span></span></button>
                                    </div>
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                v-bind:class="[ !form.is_enable?primaryClass:'' ]"
                                                @click="func_is_enable(false)"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Disable</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my_item text-center align-items-start mb-5">
                        <div class="w-100 mb-5">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">Auto Discount Pro</p>
                            </div>
                        </div>
                        <div class="w-100 align-items-start">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <!--<p class="Polaris-DisplayText Polaris-DisplayText&#45;&#45;sizeMedium">{{ form.label || 'Default - All Product Rule' }}</p>-->
                            </div>
                        </div>
                    </div>


                    <div class="my_item align-items-start">
                        <div data-polaris-theme-provider="true"
                             style="--top-bar-background:#00848e;--top-bar-background-lighter:#1d9ba4;--top-bar-color:#f9fafb;">
                            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                                <div class="Polaris-Stack__Item">
                                    <button @click="discard" type="button" class="Polaris-Button"><span
                                        class="Polaris-Button__Content"><span
                                        class="Polaris-Button__Text">Discard</span></span></button>
                                </div>

                                <div class="Polaris-Stack__Item">
                                    <button type="button" @click="sendForm" class="Polaris-Button Polaris-Button--primary" v-if="!formBusy"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text"
                                                                              >Save</span></span>
                                    </button>
                                    <button v-if="formBusy" type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" disabled=""><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Polaris-Page"  v-if="Object.keys(errors).length > 0">
            <div class="Polaris-Page__Content">

                <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                    <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner10Heading" aria-describedby="Banner10Content">
                        <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
          <path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path>
        </svg></span></div>
                        <div>

                            <div class="Polaris-Banner__Content" id="Banner10Content">

                                <p v-for="(item,index) in errors">{{ item[0] }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="Polaris-Page">
                    <div class="Polaris-Page__Content">
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">1. Name your new rule</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-Page-Header--separator">
                            <form method="post">
                                <div class="Polaris-FormLayout">
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-TextField">
                                                <input class="Polaris-TextField__Input" type="text"
                                                       placeholder="Default - All Product" v-if="type == 0" disabled :value="form.label">
                                                <input class="Polaris-TextField__Input" type="text"
                                                       placeholder="Name your new rule" v-if="type == 1" v-model="form.label">
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card overflow-in">
                    <div class="Polaris-Card__Header">
                        <div class="Polaris-SettingAction">
                            <div class="Polaris-SettingAction__Setting"><span class="Polaris-TextStyle--variationStrong">2. Start date</span></div>
                            <div class="Polaris-SettingAction__Action" v-if="form.start_date.publish_now"><button @click="sendForm" type="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Run Now</span></span></button></div>
                        </div>
                    </div>
                    <div class="Polaris-Card__Section">
                        <form method="post">
                            <div class="Polaris-FormLayout">
                                <div class="Polaris-FormLayout__Item">
                                    <div data-polaris-theme-provider="true"
                                         style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ form.start_date.publish_now?primaryClass:'' ]"
                                                        @click="start_date_publish_now(true)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">Now</span></span>
                                                </button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ !form.start_date.publish_now?primaryClass:'' ]"
                                                        @click="start_date_publish_now(false)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">On Schedule</span></span>
                                                </button>
                                                <date-picker v-if="!form.start_date.publish_now" v-model="form.start_date.schedule_date" :not-before="new Date()" placeholder="Schedule Date" valueType="format" lang="en" ></date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-5 pt-5"><b>Time Format = 24h</b></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">Select products to discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <form method="post">
                            <div class="Polaris-FormLayout">
                                <div class="Polaris-FormLayout__Item">
                                    <div data-polaris-theme-provider="true"
                                         style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item" v-if="type == 0">
                                                <!--<button v-if="type == 0" disabled type="button" class="Polaris-Button Polaris-Button&#45;&#45;sizeSlim"
                                                        v-bind:class="[ !form.select_product?primaryClass:'' ]"
                                                        ><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">All products </span></span>
                                                </button>
                                                <button v-else disabled type="button" class="Polaris-Button Polaris-Button&#45;&#45;sizeSlim"
                                                        v-bind:class="[ !form.select_product?primaryClass:'' ]"
                                                        @click="selected_product(false)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">All products </span></span>
                                                </button>-->
                                                <div class="my_item" >
                                                    This is a default ruleset, by default created by the app, so in this ruleset the all products are added by default for the discount.
                                                </div>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item" v-if="type != 0">

                                                <div class="">
                                                    <button  type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                             v-bind:class="[ form.select_product?primaryClass:'' ]"
                                                             @click="selected_product(true);productPicker()"><span
                                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select products </span></span>
                                                    </button>
                                                    Please click on "Select products" button and add the products in this ruleset.
                                                </div>
                                            </div>
                                        </div>
                                        <div  v-if="form.selected_product_items &&  form.select_product">
                                            <div class="offer-product-item my-3" v-for="(item, index) in form.selected_product_items">
                                                <div class="offer-product-img">
                                                    <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                     <img :src="item.image" class="Polaris-Thumbnail__Image" />
                                                    </span>
                                                    <div class="pl-3">{{item.title}}</div>
                                                </div>
                                                <a href="#" class="action-item" @click.prevent="deleteProduct([item.variant_id,index,item.__new])">
                                                    <img src="/images/polaris/icons/delete-icon.svg" alt="" style="    width: 17px;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">3. When should the product be discontinued?</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                Last product sale was more than
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input class="Polaris-TextField__Input w_60" v-model="form.last_sale.value"
                                           type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.last_sale.is_day?primaryClass:'' ]"
                                                    @click="last_sale_is_day(true)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Days</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ !form.last_sale.is_day?primaryClass:'' ]"
                                                    @click="last_sale_is_day(false)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Hours</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my_item">
                                ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">4. Set the Discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items">

                            <div v-for="(item, index) in form.set_discount" :key="index" v-bind:class="[ item.error_class?'Polaris-TextStyle--variationNegative':'' ]" class="border_main ">
                                {{ setPriority(index) }}

                                    <div v-if="form.set_discount.length > 1 && index !=0 " class="close_btn"
                                         @click.prevent="removeRow(index)">
                                        <svg id="SVGIconClose" viewBox="0 0 20 20">
                                            <path
                                                d="M13.535 10l5.732-5.732c.977-.977.977-2.56 0-3.535s-2.56-.977-3.535 0L10 6.465 4.268.732c-.977-.977-2.56-.977-3.535 0s-.977 2.56 0 3.535L6.465 10 .733 15.732c-.977.977-.977 2.56 0 3.535.488.49 1.127.733 1.767.733s1.28-.244 1.768-.732L10 13.535l5.732 5.732c.49.49 1.128.733 1.768.733s1.28-.244 1.768-.732c.977-.977.977-2.56 0-3.535L13.535 10z"></path>
                                        </svg>
                                    </div>
                                    <div class="my_item">
                                        Tier {{item.priority}}
                                    </div>
                                    <div class="my_item">
                                        <div class="Polaris-TextField">
                                            <input class="Polaris-TextField__Input w_60" :name="'value'+index"
                                                   v-model="item.value" type="number">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="my_item">
                                        <div data-polaris-theme-provider="true"
                                             style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                            <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                                <div class="Polaris-ButtonGroup__Item">
                                                    <button type="button"
                                                            :name="'value'+index" @click="setType(index,false)"
                                                            class="Polaris-Button Polaris-Button--sizeSlim"
                                                            v-bind:class="[ !item.is_dollar?primaryClass:'' ]"
                                                            >
                                                        <span class="Polaris-Button__Content"><span
                                                            class="Polaris-Button__Text">%</span></span></button>
                                                </div>
                                                <div class="Polaris-ButtonGroup__Item">
                                                    <button type="button"
                                                            :name="'value'+index"
                                                            @click="setType(index,true)"
                                                            v-bind:class="[ item.is_dollar?primaryClass:'' ]"
                                                            class="Polaris-Button Polaris-Button--sizeSlim">
                                                        <span class="Polaris-Button__Content"><span
                                                            class="Polaris-Button__Text">$</span></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my_item" v-if="checkIsLastDiscount(index)">
                                        Days until next discount level :
                                    </div>
                                    <div class="my_item" v-if="checkIsLastDiscount(index)">
                                        <div class="Polaris-TextField">
                                            <input class="Polaris-TextField__Input w_60" :name="'value'+index" @keyup="checkLevelValue(index)" v-model="item.level" type="number">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                            </div>
                            <button type="button" v-if="checkLevel()" @click="addRow()" class="Polaris-Button"><span
                                class="Polaris-Button__Content"><span
                                class="Polaris-Button__Text">Add another level</span></span></button>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card overflow-in">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">5. Stop the discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items mb-5">
                            <div class="my_item">
                                On Stock Level
                            </div>
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.stop_discount.stock.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_stock_is_enable(true)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ !form.stop_discount.stock.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_stock_is_enable(false)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input id="TextField9" class="Polaris-TextField__Input w_60"
                                           v-model="form.stop_discount.stock.value" type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                            <div class="my_item">
                                left in stock.
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                On Date
                            </div>
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.stop_discount.date.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_date_is_enable(true)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ !form.stop_discount.date.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_date_is_enable(false)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items mt-4">
                            <date-picker v-if="form.stop_discount.date.is_enable" v-model="form.stop_discount.date.value" :not-before="new Date()" placeholder="Schedule Date" valueType="format" lang="en" ></date-picker>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">6. When the discount has stopped</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items mb-4">
                            <div class="my_item">
                                Allow customers to purchase this product when it's out of stock
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.allow_if_out_ofstock?primaryClass:'' ]"
                                                    @click="update_out_ofstock(true)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Yes</span></span></button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim "
                                                    v-bind:class="[ !form.allow_if_out_ofstock?primaryClass:'' ]"
                                                    @click="update_out_ofstock(false)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">No</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="Polaris-PageActions">
                    <div data-polaris-theme-provider="true"
                         style="--top-bar-background:#00848e;--top-bar-background-lighter:#1d9ba4;--top-bar-color:#f9fafb;">
                        <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                            <div class="Polaris-Stack__Item">
                                <button @click="discard" type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Discard</span></span></button>
                            </div>
                            <div class="Polaris-Stack__Item">
                                <button type="button" @click="sendForm" class="Polaris-Button Polaris-Button--primary" v-if="!formBusy"><span
                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text"
                                                                          >Save</span></span>
                                </button>
                                <button v-if="formBusy" type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" disabled=""><span
                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <model :show-model.sync="showModel" @update="updateMessage">
            <h1 slot="model_header">Filtering</h1>
            <div slot="model_body">
                <div class="Polaris-Page__Title Polaris-TextContainer--spacingTight">
                    <h1 class="Polaris-Heading">Product Configuration</h1>
                    <p>This is your fliterings for products.</p>
                </div>
                <div class="Polaris-Page__Content">
                    <div class="custom-box">
                        <h3 aria-label="Accounts" class="Polaris-Subheading mb-10">Accounts</h3>
                        <div class="Polaris-ChoiceList custom-list" id="PolarisChoiceList26" aria-invalid="false">
                            <legend class="Polaris-ChoiceList__Title">Products must match:</legend>
                            <ul class="Polaris-ChoiceList__Choices">
                                <li v-for="(item,index) in filterings.operators">
                                    <label class="Polaris-Choice" :for="item.id"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton">
                                        <input :id="item.id" :name="item.name" type="radio" class="Polaris-RadioButton__Input" :value="item.value" v-model="filterings.filterType" checked>
                                        <span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">{{ item.label }}</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="Polaris-FormLayout mb-25">
                            <div role="group" class="Polaris-FormLayout--condensed" v-for="(item, index) in filterings.loopObject" :key="index">
                                <div class="Polaris-FormLayout__Items" >
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Select">
                                                <select :name="`type${index}`" v-model="item.type" class="Polaris-Select__Input" @change="filterTypeChanged(index,$event)">
                                                    <option v-for="(typeItem, typeIndex) in filterings.types" :value="typeItem.value">{{ typeItem.label }}</option>
                                                </select>
                                                <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{ item.typeDefault }}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path>
                                            </svg></span></span></div>
                                                <div class="Polaris-Select__Backdrop"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Select">
                                                <select :name="`condition${index}`" v-model="item.condition" class="Polaris-Select__Input" @change="filterConditionChanged(index,$event)">
                                                <option v-for="(condiItem, condiIndex) in filterings.conditions" :value="condiItem.value" :disabled="condiItem.is_disable">{{ condiItem.label }}</option>
                                            </select>
                                                <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{ item.conditionDefault }}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path>
                                            </svg></span></span></div>
                                                <div class="Polaris-Select__Backdrop"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-FormLayout__Item" v-if="item.type != 'title'">
                                        <div class="">
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField">
                                                        <multiselect
                                                            v-model="item.value"
                                                            :options="item.options"
                                                            placeholder="Search"
                                                            label="name"
                                                            track-by="name"
                                                            >
                                                        </multiselect>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-FormLayout__Item" v-if="item.type == 'title'">
                                        <div class="">
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField">
                                                        <input  class="Polaris-TextField__Input" min="-Infinity" type="text" aria-invalid="false" v-model="item.value" :name="`value${index}`">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-FormLayout__Item" style="text-align: right;">
                                        <button @click="deleteFilter(index)" v-if="index != 0"  type="button" class="Polaris-Button ml-16" style="height: fit-content;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete</span></span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="Polaris-PageActions pb-0">
                            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">

                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button @click="productPicker(0)" type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text" >Search Products</span></span></button></div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button @click="addFilter();" type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text" >Add another condition</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </model>
        </div>
    </div>
</template>
<script>
    import DatePicker from 'vue2-datepicker';
    import helper from "../../helper";
    import Model from "../shopify/Model";
    import {ResourcePicker} from '@shopify/app-bridge/actions';
    import CriticalBanner from "../shopify/CriticalBanner";
    import {Modal, Button} from '@shopify/app-bridge/actions';
    import Multiselect from 'vue-multiselect'
    import SyncAlert from './SyncAlert'

    export default {
        components:{
            Multiselect,
            DatePicker,
            Model,
            SyncAlert
        },
        data() {
            return {
                show_sync_message:false,
                shopSettings:{
                    tags:[],
                    product_types:[],
                    vendors:[],
                },
                errors:{},
                showModel:false,
                is_edit:0,
                id:"",
                type:1,
                formBusy: false,
                primaryClass: 'Polaris-Button--primary',
                max_discount_level:4,
                plan_type:1,
                form: {
                    label: '',
                    is_enable: true,
                    start_date: {
                        publish_now: true,
                        schedule_date: '',
                    },
                    select_product: true, //all, selected
                    selected_product_items:[],
                    last_sale: {
                        is_day: true,
                        value: 120
                    },
                    set_discount: [
                        {value: '5', is_dollar: false, level: '10', error_class: '',priority:null},
                    ],
                    stop_discount: {
                        stock: {
                            is_enable: true,
                            value: 10
                        },
                        date: {
                            is_enable: true,
                            value: '',
                        }
                    },
                    allow_if_out_ofstock: true,
                },
                filterings:{
                    operators: [
                        {id: 'any_condition', label: 'Any condition', value: 'OR', name: 'both'},
                        {id: 'all_condition', label: 'All condition', value: 'AND', name: 'both'}
                    ],
                    filterType: 'OR',
                    types:[
                            {label:'Tags',value:'tag'},
                            {label:'Title',value:'title'},
                            {label:'Product type',value:'product_type'},
                            {label:'Product vendor',value:'vendor'},
                    ],
                    conditions:[
                      {label:'is equals to',value:'EQUALS',is_disable:false},
                      {label:'is not equal to',value:'NOT_EQUALS',is_disable:false},
                    ],
                    loopObject: [{
                                    type: 'tag',
                                    condition: 'EQUALS',
                                    value: '',
                                    typeDefault:'Tags',
                                    conditionDefault:'is equals to',
                                    options:[],
                                }],
                },
            }
        },
        created() {
            this.get();
            this.getSyncAlert();
            this.getShopSettings();
        },
        methods: {
            async getSyncAlert() {
                try{
                    let {data} = await axios.get('/ruleset?api=2');
                    this.show_sync_message = !!data.show_sync_message;
                    this.plan_type = data.plan;
                    if(data.plan == 1){
                        this.form.set_discount.splice(1,3);
                    }
                }catch (response) {
                }
            },
            discard(){
                this.$router.push({name:'list'});
            },
            async getShopSettings () {
                let base = this;
                try{
                    let {data} = await axios.get('/search');
                    data.tags.map(function(value,index){
                        base.shopSettings.tags.push({name:value});
                    });
                    base.filterings.loopObject[0].options = base.shopSettings.tags;
                    data.product_types.map(function(value,index){
                        base.shopSettings.product_types.push({name:value});
                    });

                    data.vendors.map(function(value,index){
                        base.shopSettings.vendors.push({name:value});
                    });
                }catch(e){

                }
            },
            deleteFilter(index) {
                this.filterings.loopObject.splice(index, 1);
            },
            addFilter(){
                let base = this;
                base.filterings.loopObject.push({type: 'tag', condition: 'EQUALS', value: '',typeDefault:'Tags',conditionDefault:'is equals to',options:base.shopSettings.tags });
            },
            filterTypeChanged(index,e){
                let base = this;
                if(e.target.value == "tag")
                    base.filterings.loopObject[index].options = this.shopSettings.tags;
                else if(e.target.value == "product_type")
                    base.filterings.loopObject[index].options = this.shopSettings.product_types;

                else if(e.target.value == "vendor")
                    base.filterings.loopObject[index].options = this.shopSettings.vendors;
                else
                    base.filterings.loopObject[index].options = [];
                this.filterings.loopObject[index].value = '';
                this.filterings.loopObject[index].typeDefault = this.filterings.types[e.target.selectedIndex].label;
            },
            filterConditionChanged(index,e){
                this.filterings.loopObject[index].conditionDefault = this.filterings.conditions[e.target.selectedIndex].label;
            },
            updateMessage (message) {
                this.showModel = message
            },
            setPriority(index){
                this.form.set_discount[index].priority = index+1;
            },
            checkIsLastDiscount(index){
                let c = this.form.set_discount.length;
                if(c == this.form.set_discount[index].priority){
                    return false;
                }
                return true;
            },
            checkLevelValue(index) {
                let propertyName = 'level';
                var seenDuplicate = false,
                    testObject = {};
                let inputArray = this.form.set_discount;
                inputArray.map(function(item) {
                    var itemPropertyName = item[propertyName];
                    console.log(itemPropertyName);
                    if (itemPropertyName in testObject) {
                        testObject[itemPropertyName].duplicate = true;
                        item.duplicate = true;
                        seenDuplicate = true;
                    }
                    else {
                        testObject[itemPropertyName] = item;
                        delete item.duplicate;
                    }
                });
                if(seenDuplicate){
                    this.form.set_discount[index].error_class = true;
                    this.formBusy = true;
                }else{
                    this.form.set_discount[index].error_class = false;
                    this.formBusy = false;
                }
            },
            checkLevel(){
                if(this.plan_type == 1)
                    return false;
                else if(this.form.set_discount.length >= 4)
                    return false;
                return true;
            },
            setType(index, is_true){
                if (is_true != this.form.set_discount[index].is_dollar)
                    this.form.set_discount[index].is_dollar = !this.form.set_discount[index].is_dollar;
            },
            removeRow(index) {
                this.form.set_discount.splice(index, 1);
            },
            addRow() {
                let level= this.form.set_discount[this.form.set_discount.length-1].level;
                level = parseInt(level) + 5;
                this.form.set_discount.push({value: '', is_dollar: true, level: level, error_class: '',priority:null});
            },
            func_is_enable(currentValue) {
                if (currentValue != this.form.is_enable)
                    this.form.is_enable = !this.form.is_enable;
            },
            start_date_publish_now(currentValue) {
                if (currentValue != this.form.start_date.publish_now)
                    this.form.start_date.publish_now = !this.form.start_date.publish_now;

                if (this.form.start_date.publish_now) {
                    this.form.start_date.schedule_date = '';
                }
            },
            async selected_product(currentValue) {
                if (currentValue != this.form.select_product)
                    this.form.select_product = !this.form.select_product;
            },
            last_sale_is_day(currentValue) {
                if (currentValue != this.form.last_sale.is_day)
                    this.form.last_sale.is_day = !this.form.last_sale.is_day;
            },
            update_out_ofstock(currentValue) {
                if (currentValue != this.form.allow_if_out_ofstock)
                    this.form.allow_if_out_ofstock = !this.form.allow_if_out_ofstock;
            },
            stop_discount_stock_is_enable(currentValue) {
                if (currentValue != this.form.stop_discount.stock.is_enable)
                    this.form.stop_discount.stock.is_enable = !this.form.stop_discount.stock.is_enable;
            },
            stop_discount_date_is_enable(currentValue) {
                if (currentValue != this.form.stop_discount.date.is_enable)
                    this.form.stop_discount.date.is_enable = !this.form.stop_discount.date.is_enable;
            },
            async sendForm() {
                let base = this;
                if (!base.formBusy) {
                    base.formBusy = true;

                    if(!base.form.select_product)
                        base.form.selected_product_items = [];

                    if(!base.form.stop_discount.date.is_enable)
                        base.form.stop_discount.date.value = '';

                    if(base.form.start_date.publish_now)
                        base.form.start_date.schedule_date = '';

                    try {
                        helper.startLoading();
                        let data = "";
                        if(typeof this.id == "undefined"){
                            data = await axios.post('/ruleset', base.form);
                        }else{
                            data = await axios.patch('/ruleset/'+this.id, base.form);
                        }
                        helper.successToast(data.data.message);
                        base.$router.push({name:'list'});
                    } catch ({response}) {
                        base.errors = response.data;
                        base.formBusy = false;
                        window.scrollTo(0,0);
                    }
                    helper.stopLoading();

                }
            },
            async productPicker(is_filter = 1) {
                let base = this;
                if(is_filter){
                    base.showModel = true;
                    return false;
                }

                let query = '', operator = base.filterings.filterType, counter = base.filterings.loopObject.length;
                counter = counter - 1;
                base.filterings.loopObject.map(function (value, index) {
                    let condition = value.condition,type = value.type, val = value.value;
                        if(value.type != 'title'){
                            val = value.value.name;
                        }

                        if(typeof val !="undefined" && val != ""){
                            if(condition == "EQUALS"){
                                query += `${type}:`;
                            }else{
                                query += `-${type}:`;
                            }

                            if(counter != index){
                                query += `"${val}" ${operator} `;
                            }else{
                                query += `"${val}"`;
                            }
                        }
                });

                const productPicker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: ResourcePicker.ResourceType.Product,
                    options: {
                        selectMultiple: true,
                        showHidden: false,
                        showVariants:true,
                        initialQuery:query,
                    },
                });
                productPicker.dispatch(ResourcePicker.Action.OPEN);

                productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                    base.showModel = false;
                    let variants = [];
                     selection.forEach(function (value, index) {
                         value.variants.forEach(function (value2, index2) {
                             let variant = {};
                             let image = null;
                             if(typeof value2.image != 'undefined')
                                 image = value2.image.originalSrc;

                             let variant_id = value2.id.replace("gid://shopify/ProductVariant/","");

                             variant = {
                                 product_id: value.id.replace("gid://shopify/Product/",""),
                                 variant_id: variant_id,
                                 title: value2.displayName,
                                 image: image,
                             };

                             let result = _.find(base.form.selected_product_items, function(o){
                                 return o.variant_id == variant_id;
                             });
                             if(typeof result == "undefined"){
                                 variants.push(variant);
                             }
                         });

                    });
                    base.checkPush(variants);
                });
            },
            async checkPush(products){
                let that = this;
                await axios({
                        method: 'POST',
                        url: '/ruleset/check',
                        data: {data:products},
                    }).then(response => {
                        that.form.selected_product_items = that.form.selected_product_items.concat(response.data.products);
                        let unselected = response.data.total_selected - response.data.total_added;
                        if(unselected > 0){
                            helper.successToast(unselected+" product already added in the rulesets");
                        }
                    }).catch(error => {
                        let errors = error.response.data;
                        let pushError = '';
                        for (let error in errors) {
                            pushError = pushError + errors[error] + '<br/>'
                        }
                        that.errorMsg = pushError;
                        that.criticalBanner = true;
                    });

            },
            deleteProduct(value) {
                let that = this;
                const okButton = Button.create(window.shopify_app_bridge, {label: 'Delete'});
                okButton.subscribe(Button.Action.CLICK, () => {
                        if(typeof value[2] == 'number'){
                            that.form.selected_product_items.splice(value[1],1);
                        }else{
                            let id = parseInt(value[0]);
                            let {data} = axios.get('/ruleset/delete-product/'+ id);
                            that.get();
                            helper.successToast('Successfully Removed');
                        }
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                cancelButton.subscribe(Button.Action.CLICK, () => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const modalOptions = {
                    title: 'Delete Product',
                    message: 'Are you sure you want to delete this product?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
            },
            destroy() {

                let base = this;
                const okButton = Button.create(window.shopify_app_bridge, {label: 'Delete'});
                okButton.subscribe(Button.Action.CLICK, () => {
                    let {data} = axios.delete('/ruleset/'+ base.id);
                    helper.successToast('Successfully Delete');
                    base.$router.push({ name: 'list'});
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                cancelButton.subscribe(Button.Action.CLICK, () => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const modalOptions = {
                    title: 'Delete Ruleset',
                    message: 'Are you sure you want to delete this ruleset?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
            },
            async get() {
                this.id = this.$route.params.id;
                if(typeof this.id != "undefined"){
                    this.is_edit = 1;
                    helper.startLoading();
                    try{
                        let {data} = await axios.get('/ruleset/'+this.id+'/edit');
                        this.form = data;
                        this.type = data.type;
                    }catch (response) {
                        if(response.data.message) {
                            helper.errorToast(response.data.message);
                        }
                    }
                    helper.stopLoading();
                }
            },
        },
    };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .custom-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1.6rem;
    }
    .custom-list legend{
        display: inline-flex;
        margin-bottom: 0;
        margin-right: 1.6rem;
    }
    .custom-list ul{
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .custom-list ul li{
        margin-right: 1.6rem;
    }
    .mb-25{
        margin-bottom: 1.6rem;
    }
    .pb-0{
        padding-bottom: 0;
    }
    .w-100{
        width: 100%;
    }
    .d-flex{
        display: flex;
    }
    .ml-16{
        margin-left: 16px;
    }
    .align-end{
        align-items: flex-end;
    }
    .multiselect__placeholder{
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .multiselect__option--highlight, .multiselect__option--highlight:after{
        background: #1c2260;
    }
</style>
