<template>
    <div class="">
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="main">
                    <div class="my_item align-items-start mb-4" v-show="is_edit" v-if="type == 1">
                        <div class="div_head_1">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <button type="button" class="Polaris-Button Polaris-Button--destructive Polaris-Button--sizeSlim"><span
                                    class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Delete Ruleset</span></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="my_item align-items-start mb-4">
                        <div class="div_head_2">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                v-bind:class="[ form.is_enable?primaryClass:'' ]"
                                                @click="func_is_enable(true)"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Enable</span></span></button>
                                    </div>
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                v-bind:class="[ !form.is_enable?primaryClass:'' ]"
                                                @click="func_is_enable(false)"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Disable</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my_item text-center align-items-start mb-5">
                        <div class="w-100 mb-5">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">Auto Discount Pro</p>
                            </div>
                        </div>
                        <div class="w-100 align-items-start">
                            <div data-polaris-theme-provider="true"
                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">{{ form.label || 'Default - All Product Rule' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="my_item align-items-start">
                        <div data-polaris-theme-provider="true"
                             style="--top-bar-background:#00848e;--top-bar-background-lighter:#1d9ba4;--top-bar-color:#f9fafb;">
                            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                                <div class="Polaris-Stack__Item">
                                    <button type="button" class="Polaris-Button"><span
                                        class="Polaris-Button__Content"><span
                                        class="Polaris-Button__Text">Discard</span></span></button>
                                </div>

                                <div class="Polaris-Stack__Item">
                                    <button type="button" @click="sendForm" class="Polaris-Button Polaris-Button--primary" v-if="!formBusy"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text"
                                                                              >Save</span></span>
                                    </button>
                                    <button v-if="formBusy" type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" disabled=""><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">1. Name your new rule</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-Page-Header--separator">
                            <form method="post">
                                <div class="Polaris-FormLayout">
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-TextField">
                                                <input class="Polaris-TextField__Input" type="text"
                                                       placeholder="Default - All Product" v-if="type == 0" disabled :value="form.label">
                                                <input class="Polaris-TextField__Input" type="text"
                                                       placeholder="Default - All Product" v-if="type == 1" v-model="form.label">
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card overflow-in">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">2. Start date</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <form method="post">
                            <div class="Polaris-FormLayout">
                                <div class="Polaris-FormLayout__Item">
                                    <div data-polaris-theme-provider="true"
                                         style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ form.start_date.publish_now?primaryClass:'' ]"
                                                        @click="start_date_publish_now(true)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">Now</span></span>
                                                </button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ !form.start_date.publish_now?primaryClass:'' ]"
                                                        @click="start_date_publish_now(false)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">On Schedule</span></span>
                                                </button>
                                                <date-picker v-if="!form.start_date.publish_now" v-model="form.start_date.schedule_date" :not-before="new Date()" placeholder="Schedule Date" valueType="format" lang="en" ></date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-5 pt-5"><b>Time Format = 24h</b></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">Select products to discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <form method="post">
                            <div class="Polaris-FormLayout">
                                <div class="Polaris-FormLayout__Item">
                                    <div data-polaris-theme-provider="true"
                                         style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ !form.select_product?primaryClass:'' ]"
                                                        @click="selected_product(false)"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">All products </span></span>
                                                </button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ form.select_product?primaryClass:'' ]"
                                                        @click="selected_product(true);productPicker()"><span
                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select products </span></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div  v-if="form.selected_product_items &&  form.select_product">
                                            <div class="offer-product-item my-3" v-for="(item, index) in form.selected_product_items">
                                                <div class="offer-product-img">
                                                    <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                     <img :src="item.image" class="Polaris-Thumbnail__Image" />
                                                    </span>
                                                    <div class="pl-3">{{item.title}}</div>
                                                </div>
                                                <a href="#" class="action-item" @click.prevent="deleteProduct([item.id,index])">
                                                    <img src="/images/polaris/icons/delete-icon.svg" alt="" style="    width: 17px;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">3. When should the product be discounted? Based on sales forecasting.</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                How long back in time should we use statistics?
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input class="Polaris-TextField__Input w_60" v-model="form.last_sale.statistics"
                                           type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                            <div class="my_item">
                                days
                            </div>
                        </div>

                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                How long should the stock last?
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input class="Polaris-TextField__Input w_60" v-model="form.last_sale.stock_last"
                                           type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                            <div class="my_item">
                                days
                            </div>
                        </div>

                        <div class="Polaris-FormLayout__Items mb-5">
                            <div class="my_item">
                                How much overstock before discount? Forcasted quantity X (times)
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input class="Polaris-TextField__Input w_60" v-model="form.last_sale.forcast_qty"
                                           type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                        </div>

                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                How many days of "on sale" until stock is reduced to trigger level
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input class="Polaris-TextField__Input w_60" v-model="form.last_sale.level_days"
                                           type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">4. Set the Discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items">

                            <div v-for="(item, index) in form.set_discount" :key="index" v-bind:class="[ item.error_class?'Polaris-TextStyle--variationNegative':'' ]" class="border_main ">
                                <div v-if="form.set_discount.length > 1 && index !=0 " class="close_btn"
                                     @click.prevent="removeRow(index)">
                                    <svg id="SVGIconClose" viewBox="0 0 20 20">
                                        <path
                                            d="M13.535 10l5.732-5.732c.977-.977.977-2.56 0-3.535s-2.56-.977-3.535 0L10 6.465 4.268.732c-.977-.977-2.56-.977-3.535 0s-.977 2.56 0 3.535L6.465 10 .733 15.732c-.977.977-.977 2.56 0 3.535.488.49 1.127.733 1.767.733s1.28-.244 1.768-.732L10 13.535l5.732 5.732c.49.49 1.128.733 1.768.733s1.28-.244 1.768-.732c.977-.977.977-2.56 0-3.535L13.535 10z"></path>
                                    </svg>
                                </div>
                                <div class="my_item">
                                    <div class="Polaris-TextField">
                                        <input class="Polaris-TextField__Input w_60" :name="'value'+index"
                                               v-model="item.value" type="number">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                </div>
                                <div class="my_item">
                                    <div data-polaris-theme-provider="true"
                                         style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button"
                                                        :name="'value'+index" @click="setType(index,false)"
                                                        class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ !item.is_dollar?primaryClass:'' ]"
                                                        >
                                                    <span class="Polaris-Button__Content"><span
                                                        class="Polaris-Button__Text">%</span></span></button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button"
                                                        :name="'value'+index"
                                                        @click="setType(index,true)"
                                                        v-bind:class="[ item.is_dollar?primaryClass:'' ]"
                                                        class="Polaris-Button Polaris-Button--sizeSlim">
                                                    <span class="Polaris-Button__Content"><span
                                                        class="Polaris-Button__Text">$</span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my_item">
                                    Days until next discount level :
                                </div>
                                <div class="my_item">
                                    <div class="Polaris-TextField">
                                        <input class="Polaris-TextField__Input w_60" :name="'value'+index" @keyup="checkLevelValue(index)" v-model="item.level" type="number">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" v-if="checkLevel()" @click="addRow()" class="Polaris-Button"><span
                                class="Polaris-Button__Content"><span
                                class="Polaris-Button__Text">Add another level</span></span></button>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card overflow-in">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">5. Stop the discount</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items mb-5">
                            <div class="my_item">
                                On Stock Level
                            </div>
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.stop_discount.stock.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_stock_is_enable(true)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ !form.stop_discount.stock.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_stock_is_enable(false)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my_item">
                                <div class="Polaris-TextField">
                                    <input id="TextField9" class="Polaris-TextField__Input w_60"
                                           v-model="form.stop_discount.stock.value" type="number">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                            <div class="my_item">
                                left in stock.
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                On Date
                            </div>
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.stop_discount.date.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_date_is_enable(true)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ !form.stop_discount.date.is_enable?primaryClass:'' ]"
                                                    @click="stop_discount_date_is_enable(false)"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items mt-4">
                            <date-picker v-if="form.stop_discount.date.is_enable" v-model="form.stop_discount.date.value" :not-before="new Date()" placeholder="Schedule Date" valueType="format" lang="en" ></date-picker>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Header">
                        <h1 class="Polaris-Heading">6. When the discount has stopped</h1>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-FormLayout__Items mb-4">
                            <div class="my_item">
                                Allow customers to purchase this product when it's out of stock
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Items">
                            <div class="my_item">
                                <div data-polaris-theme-provider="true"
                                     style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[ form.allow_if_out_ofstock?primaryClass:'' ]"
                                                    @click="update_out_ofstock(true)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Yes</span></span></button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--sizeSlim "
                                                    v-bind:class="[ !form.allow_if_out_ofstock?primaryClass:'' ]"
                                                    @click="update_out_ofstock(false)"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">No</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="Polaris-PageActions">
                    <div data-polaris-theme-provider="true"
                         style="--top-bar-background:#00848e;--top-bar-background-lighter:#1d9ba4;--top-bar-color:#f9fafb;">
                        <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                            <div class="Polaris-Stack__Item">
                                <button type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Discard</span></span></button>
                            </div>
                            <div class="Polaris-Stack__Item">
                                <button type="button" @click="sendForm" class="Polaris-Button Polaris-Button--primary" v-if="!formBusy"><span
                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text"
                                                                          >Save</span></span>
                                </button>
                                <button v-if="formBusy" type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" disabled=""><span
                                    class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import DatePicker from 'vue2-datepicker';
    import helper from "../../helper";
    import {ResourcePicker} from '@shopify/app-bridge/actions';
    import CriticalBanner from "../shopify/CriticalBanner";
    import {Modal, Button} from '@shopify/app-bridge/actions';
    export default {
        components:{
            DatePicker
        },
        data() {
            return {
                is_edit:0,
                id:"",
                type:1,
                formBusy: false,
                primaryClass: 'Polaris-Button--primary',
                max_discount_level:4,
                plan_type:2,
                form: {
                    label: '',
                    is_enable: true,
                    start_date: {
                        publish_now: true,
                        schedule_date: new Date(),
                    },
                    select_product: false, //all, selected
                    selected_product_items:[],
                    last_sale: {
                        statistics: 90,
                        stock_last: 30,
                        forcast_qty: 3,
                        level_days: 0
                    },
                    set_discount: [
                        {value: '', is_dollar: true, level: '', error_class: ''},
                    ],
                    stop_discount: {
                        stock: {
                            is_enable: true,
                            value: 0
                        },
                        date: {
                            is_enable: true,
                            value: new Date(),
                        }
                    },
                    allow_if_out_ofstock: true,
                },
            }
        },
        created() {
            this.get();
        },
        methods: {
            checkLevelValue(index) {
                let propertyName = 'level';
                var seenDuplicate = false,
                    testObject = {};
                let inputArray = this.form.set_discount;
                inputArray.map(function(item) {
                    var itemPropertyName = item[propertyName];
                    if (itemPropertyName in testObject) {
                        testObject[itemPropertyName].duplicate = true;
                        item.duplicate = true;
                        seenDuplicate = true;
                    }
                    else {
                        testObject[itemPropertyName] = item;
                        delete item.duplicate;
                    }
                });
                if(seenDuplicate){
                    this.form.set_discount[index].error_class = true;
                    this.formBusy = true;
                }else{
                    this.form.set_discount[index].error_class = false;
                    this.formBusy = false;
                }
            },
            checkLevel(){
                if(this.plan_type == 1)
                    return false;
                else if(this.form.set_discount.length >= 4)
                    return false;
                return true;
            },
            setType(index, is_true){
                if (is_true != this.form.set_discount[index].is_dollar)
                    this.form.set_discount[index].is_dollar = !this.form.set_discount[index].is_dollar;
            },
            removeRow(index) {
                this.form.set_discount.splice(index, 1);
            },
            addRow() {
                this.form.set_discount.push({value: '', is_dollar: true, level: '', error_class: ''});
            },
            func_is_enable(currentValue) {
                if (currentValue != this.form.is_enable)
                    this.form.is_enable = !this.form.is_enable;
            },
            start_date_publish_now(currentValue) {
                if (currentValue != this.form.start_date.publish_now)
                    this.form.start_date.publish_now = !this.form.start_date.publish_now;

                if (this.form.start_date.publish_now) {
                    this.form.start_date.schedule_date = '';
                }
            },
            async selected_product(currentValue) {
                if (currentValue != this.form.select_product)
                    this.form.select_product = !this.form.select_product;
            },
            last_sale_is_day(currentValue) {
                if (currentValue != this.form.last_sale.is_day)
                    this.form.last_sale.is_day = !this.form.last_sale.is_day;
            },
            update_out_ofstock(currentValue) {
                if (currentValue != this.form.allow_if_out_ofstock)
                    this.form.allow_if_out_ofstock = !this.form.allow_if_out_ofstock;
            },
            stop_discount_stock_is_enable(currentValue) {
                if (currentValue != this.form.stop_discount.stock.is_enable)
                    this.form.stop_discount.stock.is_enable = !this.form.stop_discount.stock.is_enable;
            },
            stop_discount_date_is_enable(currentValue) {
                if (currentValue != this.form.stop_discount.date.is_enable)
                    this.form.stop_discount.date.is_enable = !this.form.stop_discount.date.is_enable;
            },
            async sendForm() {
                let base = this;
                if (!base.formBusy) {
                    base.formBusy = true;

                    if(!base.form.select_product)
                        base.form.selected_product_items = [];

                    if(!base.form.stop_discount.date)
                        base.form.stop_discount.date.value = '';

                    if(base.form.start_date.publish_now)
                        base.form.start_date.schedule_date = '';


                    try {
                        helper.startLoading();
                        let data = "";
                        if(typeof this.id == "undefined"){
                            data = await axios.post('/ruleset', base.form);
                        }else{
                            data = await axios.patch('/ruleset/'+this.id, base.form);
                        }
                        helper.successToast(data.data.message);

                    } catch ({response}) {

                    }
                    helper.stopLoading();
                    base.formBusy = false;
                }
            },
            async productPicker() {
                let base = this;
                const productPicker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: ResourcePicker.ResourceType.Product,
                    options: {
                        selectMultiple: true,
                        showHidden: false,
                        showVariants:false,
                    },
                });
                productPicker.dispatch(ResourcePicker.Action.OPEN);

                productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                    base.checkPush(selection);
                });
            },
            async checkPush(products){
                let that = this;
                await axios({
                        method: 'POST',
                        url: '/ruleset/check',
                        data: {data:products},
                    }).then(response => {

                        /*if (that.varPropsData.currentRoute == 'offers/{ruleset}/edit'){
                            that.form.selected_product_items = that.form.selected_product_items.concat(response.data.products);
                        }else{*/
                        //debugger;
                            if(typeof that.form.selected_product_items.length == 'undefined'){
                                //debugger;
                                that.form.selected_product_items = that.form.selected_product_items.concat(response.data.products);
                                //debugger;
                            }else{
                                //debugger;
                                that.form.selected_product_items = response.data.products;
                                //debugger;
                            }
                        //}
                        let unselected = response.data.total_selected - response.data.total_added;
                        if(unselected > 0){
                            window.ShopifyApp.flashNotice(unselected+" product already added in other rulesets");
                        }
                    }).catch(error => {
                        let errors = error.response.data;
                        let pushError = '';
                        for (let error in errors) {
                            pushError = pushError + errors[error] + '<br/>'
                        }
                        that.errorMsg = pushError;
                        that.criticalBanner = true;
                    });

            },
            async deleteProduct(value) {
                let that = this;
                const okButton = Button.create(window.shopify_app_bridge, {label: 'Delete'});
                await okButton.subscribe(Button.Action.CLICK, async () => {
                    try {
                        if(typeof value[0] == 'number'){
                            that.form.selected_product_items.splice(value[1],1);
                        }else{
                            if(result){
                                let {data} = await axios.delete('ruleset/delete-product/'+id);
                                that.form.selected_product_items = response.data;
                                helper.successToast(data.message);
                            }
                        }
                    } catch (response) {

                    }
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                cancelButton.subscribe(Button.Action.CLICK, () => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const modalOptions = {
                    title: 'Delete Product',
                    message: 'Are you sure you want to delete this product?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                await myModal.dispatch(Modal.Action.OPEN);
            },
            async get() {
                this.id = this.$route.params.id;
                if(typeof this.id != "undefined"){
                    this.is_edit = 1;
                    helper.startLoading();
                    try{
                        let {data} = await axios.get('/ruleset/'+this.id+'/edit');
                        this.form = data;
                        this.type = data.type;
                    }catch (response) {
                        if(response.data.message) {
                            helper.errorToast(response.data.message);
                        }
                    }
                    helper.stopLoading();
                }
            },
        },
    };
</script>
