<template>
    <div class="">
        <div class="Polaris-Page__Content">
            <sync-alert></sync-alert>
            <div class="Polaris-Card">
                <div class="Polaris-Card__Header">
                    <h2 class="Polaris-Heading">Discounted Products</h2>
                </div>
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Card mt-1">
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <th class="text-left">Sr.no</th>
                                    <th class="text-center">Product-Variant Title</th>
                                    <th class="text-center">Rule Level</th>
                                    <th class="text-center">Discounted Price</th>
                                    <th class="text-center">Original Price</th>
                                    <th class="text-center">Start Date</th>
                                    <th class="text-center">Order Date</th>
                                </tr>
                                <tr v-for="(item,index) in items">
                                    <td class="text-left">{{ ++index }}</td>
                                    <td class="text-center">{{ item.title }}</td>
                                    <td class="text-center">{{ item.ruleset.label }} - {{ item.level }}</td>
                                    <td class="text-center"> <font v-if="item.discounted_price != ''"> {{ currency }}{{ item.discounted_price }} </font></td>
                                    <td class="text-center">{{ currency }}{{ item.original_price }}</td>
                                    <td class="text-center">{{ item.ruleset.created_at }}</td>
                                    <td class="text-center">{{ item.created_at }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SyncAlert from "./SyncAlert";
    import helper from "../../helper";
    export default {
        components:{
            SyncAlert,
        },
        data(){
            return{
                items: [],
                currency:'',
            }
        },
        methods:{
            async get() {
                helper.startLoading();
                try{
                    let {data} = await axios.get('/discounted');
                    this.items = data.entities;
                    this.currency = data.currency;
                }catch (response) {
                    if(response.data.message) {
                        helper.errorToast(response.data.message);
                    }
                }
                helper.stopLoading();
            },
            checkType(id){
                switch (id) {
                    case 0:
                        return `<div><span class="Polaris-Badge Polaris-Badge--progressIncomplete"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Default</span></div>`;
                    case 1:
                        return `<div><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Merchant</span></div>
                        `;

                }
            },
        },
        mounted(){
            this.get();
        },
    };
</script>
