<template>
    <div class="">
        <div class="Polaris-Page__Content">

            <sync-alert></sync-alert>

            <div class="Polaris-Card">
                <div class="Polaris-Card__Header">
                    <h2 class="Polaris-Heading">Rulesets List</h2>
                </div>
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Card mt-1">
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <th class="text-left">Title</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                <tr v-for="item in items">
                                    <td class="text-left">{{ item.label }}</td>
                                    <td class="text-center" v-html="checkType(item.type)"></td>
                                    <td class="text-center">
                                        <div>
                                            <div style="display: unset" class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented Polaris-ButtonGroup--connectedTop">
                                                <div class="Polaris-ButtonGroup__Item">
                                                    <router-link :to="{name :'ruleset',params: { id: item.id }}" tag="a" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span></router-link>
                                                </div>
                                                <!--<div class="Polaris-ButtonGroup__Item"><button @click="deleteReport(item.id)" type="button" class="Polaris-Button Polaris-Button&#45;&#45;destructive Polaris-Button&#45;&#45;sizeSlim"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete</span></span></button></div>-->
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import SyncAlert from "./SyncAlert";
    import helper from "../../helper";
    export default {
        components:{
            SyncAlert,
        },
        data(){
            return{
                items: [],
            }
        },
        methods:{
            async get() {
                helper.startLoading();
                try{
                    let {data} = await axios.get('/ruleset?api=1');
                    this.items = data.entities;
                }catch (response) {
                    if(response.data.message) {
                        helper.errorToast(response.data.message);
                    }
                }
                helper.stopLoading();
            },
            checkType(id){
                switch (id) {
                    case 0:
                        return `<div><span class="Polaris-Badge Polaris-Badge--progressIncomplete"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Default</span></div>`;
                    case 1:
                        return `<div><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Merchant</span></div>
                        `;

                }
            },
        },
        mounted(){
            this.get();
        },
    };
</script>
