<template>
    <div class="">
        <div class="Polaris-Page" v-if="show_sync_message" >
            <div class="Polaris-Page__Content">

                <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                    <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner10Heading" aria-describedby="Banner10Content">
                        <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
          <path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path>
        </svg></span></div>
                        <div>

                            <div class="Polaris-Banner__Content" id="Banner10Content">

                                <p>Auto Discount pro is currently processing your store items. Please wait. This can take few hours/minutes depends on store items to complete and this message will disappear when it's ready. </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    import helper from "../../helper";
    export default {
        data(){
            return{
                show_sync_message:false,
            }
        },
        methods:{
            async get() {
                helper.startLoading();
                try{
                    let {data} = await axios.get('/ruleset?api=2');
                    this.show_sync_message = !!data.show_sync_message;
                }catch (response) {
                    if(response.data.message) {
                        helper.errorToast(response.data.message);
                    }
                }
                helper.stopLoading();
            },
        },
        mounted(){
            this.get();
        },
    };
</script>
